<app-page-content>
  <div id="page-title">
    <h1>News</h1>
  </div>

  <div id="page-content">
    <ul class="news-list">
      <li
        *ngFor="
          let item of news | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }
        "
      >
        <a [href]="item.url" target="_blank">{{ item.title }}</a>
      </li>
    </ul>

    <pagination-controls class="pagination" (pageChange)="onPageChange($event)"></pagination-controls>
  </div>
</app-page-content>
